.hero-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/student-laptop.jpg");
  background-color: darkblue;
  padding: 10vw 0;
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
